
html,body{
}

body{
	margin:0;
	font-family: sans-serif;
}
header{
	height: 50px;
	background-color: #ccc
}
.lanes{
	margin: 0 50px;
	border:1px solid #ccc;
	border-width: 0 1px;
	padding: 5px 0;
}
.lane{
	display: inline-block;
	width:111px;
	border-right:1px dotted #999;
	padding: 5px;
	vertical-align: top;
	min-height: 100vh;
}
.item{
	margin-bottom: 20px; 
}
.item h2{
	background-color: limegreen;
	margin: 0;
	color:#fff;
	padding: 5px 10px;
}
.item p{
	margin: 0;
	padding: 10px;
	background-color: khaki;
}

.double{
	width:237px;
}
.triple{
	width:363px;
}